// Load normalize file
    @import 'normalize.scss';

// Colors
    $soft-blue: hsl(231, 69%, 60%);
    $soft-red: hsl(0, 94%, 66%);
    $grayish-blue: hsl(229, 8%, 60%);
    $very-dark-blue: hsl(229, 31%, 21%);
    $white: hsl(0, 100%, 100%);

// Variables for hamburger icon animation
    $timing-function: cubic-bezier(0.8, 0.5, 0.2, 1.4);
    $duration-time: 0.3s;
    $delay-time: 0.2s;





///////////////////////////////////////////////////////////////////////////

*, *::before, *::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 16px;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    background-color: $white;
    color: $very-dark-blue;
}

h1, h2, h3 {
    font-weight: 500;
}

h1 {font-size: 2rem;}
h2 {font-size: 1.5rem;}
h3 {font-size: 1.25rem;}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 32px 24px;
    position: relative;
}

.logo {
    width: 140px;
    display: inline-block;

    &__svg {
        display: block;
        width: 100%;
    }

    &__text, &__circle, &__mark {
        transition: fill 0.1s 0.2s ease-in;
    }

    &--white {
        .logo__text, .logo__circle {
            fill: $white;
        }

        .logo__mark {
            fill: $very-dark-blue;
        }
    }
}

.hamburger {
    padding: 10px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;

    &__inner {
        display: block;
        position: relative;
        width: 24px;
        height: 19px;
    }

    &__bar {
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background-color: $very-dark-blue;
        will-change: transform;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: 8px;
            will-change: transform, opacity;
        }

        &:nth-child(3) {
            bottom: 0;
        }
    }

    &--active &__bar {
        background-color: $white;

        &:nth-child(1), &:nth-child(3) {
            transition: transform $duration-time $delay-time $timing-function;
        }

        &:nth-child(2) {
            transition: transform $duration-time $timing-function,
                        opacity $duration-time $timing-function;
            opacity: 0;
            transform: scaleX(0);
        }

        &:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }

        &:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }

    &:not(&--active) &__bar {
        &:nth-child(1), &:nth-child(3) {
            transition: transform $duration-time $timing-function;
        }

        &:nth-child(2) {
            transition: transform $duration-time $delay-time $timing-function,
                        opacity $duration-time $delay-time $timing-function;
        }
    }
}

// Styles for elements which are only for screen reader
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.nav-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    min-width: 100vw;
    background-color: rgba($very-dark-blue, 0.95);
    color: $white;
    padding: 103px 24px 32px;
    margin: 0;
    opacity: 0;
    will-change: transform, opacity;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: -1;

    &--opened {
        opacity: 1;
        transform: translateX(-100%);
    }
}

.navigation {
    width: 100%;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    &__item {
        padding: 24px 0;
        border-top: 1px solid rgba($white, 0.2);
        text-transform: uppercase;
        font-weight: 500;
    }

    &__link {
        color: $white;
        text-decoration: none;
    }
}

.socials {
    position: absolute;
    bottom: 40px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__item {
        display: flex;
        align-content: center;
        width: 24px;
        height: 24px;

        &:not(:last-child) {
            margin-right: 24px;
        }
    }

    &__svg {
        width: 100%;
    }
}

.button {
    border-radius: 8px;
    font-weight: 500;

    &--ghost {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 1px solid $white;
        width: 100%;
        max-width: 400px;
        margin: 24px 0;
        padding: 16px 0;
    }
}