* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 22.4px;
  font-weight: 400;
  color: #070439; }

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700; }

h1 {
  font-size: 30px;
  line-height: 42px; }

h2 {
  font-size: 18px;
  line-height: 25.2px; }

.cta-button {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  border: none;
  border-radius: 4px;
  background: #3065f8;
  text-transform: capitalize;
  box-shadow: 0px 4px 16px rgba(7, 4, 57, 0.25);
  cursor: pointer;
  -webkit-transition: box-shadow .2s ease-in;
  -o-transition: box-shadow .2s ease-in;
  transition: box-shadow .2s ease-in; }
  .cta-button:hover {
    box-shadow: 0px 4px 16px rgba(7, 4, 57, 0.5); }

.link-animated-underline {
  text-decoration: none;
  position: relative; }
  .link-animated-underline::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 1.5px;
    bottom: -4px;
    left: 0;
    background: #070439;
    visibility: hidden;
    -webkit-transition: width .3s ease-in, visibility .3s ease-in;
    -o-transition: width .3s ease-in, visibility .3s ease-in;
    transition: width .3s ease-in, visibility .3s ease-in; }
  .link-animated-underline:hover::after {
    visibility: visible;
    width: 100%; }

.form .form__input {
  width: 100%;
  border: 1px solid #070439;
  border-radius: 4px;
  padding: 12px 16px;
  color: #070439;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: 0px 4px 8px rgba(7, 4, 57, 0.1); }
  .form .form__input::placeholder {
    color: #bfbfbf; }

.header {
  padding: 24px 24px 143px; }
  .header .header__nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px; }
    .header .header__nav-wrapper .header__logo {
      display: flex;
      width: 80px; }
      .header .header__nav-wrapper .header__logo img {
        width: 100%;
        height: auto; }
    .header .header__nav-wrapper .header__nav .nav__list {
      display: flex;
      list-style: none; }
      .header .header__nav-wrapper .header__nav .nav__list .nav__item {
        padding-right: 24px;
        font-family: 'Raleway';
        font-weight: 400; }
        .header .header__nav-wrapper .header__nav .nav__list .nav__item:last-child {
          padding-right: 0px; }
        .header .header__nav-wrapper .header__nav .nav__list .nav__item a {
          color: #070439; }
  .header .header__welcome-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .header .header__welcome-wrapper .welcome-wrapper__illustration {
      width: 100%;
      margin-bottom: 40px; }
    .header .header__welcome-wrapper .welcome-wrapper__get-started h1 {
      text-align: center;
      margin-bottom: 24px; }
    .header .header__welcome-wrapper .welcome-wrapper__get-started p {
      margin: 0 auto;
      text-align: center; }
    .header .header__welcome-wrapper .welcome-wrapper__get-started .welcome-wrapper__form {
      display: flex;
      flex-direction: column;
      margin-top: 32px; }
      .header .header__welcome-wrapper .welcome-wrapper__get-started .welcome-wrapper__form .form__submit-button {
        margin-top: 16px; }

.main {
  position: relative; }
  .main::before {
    position: absolute;
    width: 100%;
    height: 53px;
    top: -53px;
    content: '';
    background-image: url(../assets/img/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    z-index: -1; }
  .main .main__stay-productive-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 60px 24px 80px;
    background: #f6f6fe; }
    .main .main__stay-productive-wrapper .stay-productive-wrapper__illustration {
      width: 100%;
      margin-bottom: 80px; }
    .main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__header {
      text-align: center;
      margin-bottom: 32px; }
    .main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__paragraph:nth-child(even) {
      margin-bottom: 16px; }
    .main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__see-how {
      display: flex;
      align-items: center;
      margin: 48px auto;
      padding: 6px 0px;
      background: none;
      border: none;
      border-bottom: 1px solid #3c9f8f;
      color: #3c9f8f;
      font-family: 'Raleway';
      font-weight: 400;
      cursor: pointer; }
      .main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__see-how img {
        margin-left: 8px; }
    .main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__review {
      background: #fff;
      border-radius: 4px;
      margin: 0px 8px;
      padding: 24px 32px;
      box-shadow: 0px 4px 12px rgba(7, 4, 57, 0.1); }
      .main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__review .review__quotes {
        width: 13px;
        height: 12px;
        background: url(../assets/img/icon-quotes.svg) no-repeat center center;
        background-size: cover;
        margin-bottom: 10px; }
      .main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__review .review__text {
        display: block;
        font-size: 12px;
        font-style: normal;
        margin-bottom: 16px;
        line-height: 21.6px; }
      .main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__review .review__author {
        display: flex;
        align-items: center; }
        .main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__review .review__author .author__avatar {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          margin-right: 8px; }
        .main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__review .review__author .author__signature {
          display: flex;
          flex-direction: column; }
          .main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__review .review__author .author__signature .signature__name {
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 2px; }
          .main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__review .review__author .author__signature .signature__position {
            font-size: 10px;
            line-height: 12px; }
  .main .main__early-access-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 72px 40px;
    background: #585989;
    color: #f6f6fe; }
    .main .main__early-access-wrapper .early-access-wrapper__header {
      text-align: center;
      margin-bottom: 16px;
      color: #ffffff; }
    .main .main__early-access-wrapper .early-access-wrapper__description {
      text-align: center; }
    .main .main__early-access-wrapper .early-access-wrapper__form {
      margin-top: 24px;
      padding: 0px 16px; }
      .main .main__early-access-wrapper .early-access-wrapper__form .form__input {
        padding: 12px 8px; }
      .main .main__early-access-wrapper .early-access-wrapper__form .form__submit-button {
        margin-top: 8px; }

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #070439;
  color: #ffffff;
  padding: 64px 40px 0px; }
  .footer .footer__section-box {
    margin-bottom: 48px; }
  .footer .footer__logo {
    width: 100%;
    margin-bottom: 24px; }
    .footer .footer__logo img {
      width: 160px;
      filter: contrast(0) brightness(100); }
  .footer .footer__contact div {
    display: flex;
    align-items: center; }
    .footer .footer__contact div:first-child {
      margin-bottom: 16px; }
    .footer .footer__contact div img {
      width: 20px;
      margin-right: 16px; }
    .footer .footer__contact div span {
      font-size: 16px; }
      .footer .footer__contact div span a {
        color: #ffffff;
        text-decoration: none; }
  .footer .footer__info ul li {
    list-style: none; }
    .footer .footer__info ul li a {
      display: inline-block;
      color: #ffffff;
      text-decoration: none;
      margin-bottom: 16px;
      font-size: 16px; }
      .footer .footer__info ul li a.link-animated-underline::after {
        background: #ffffff; }
    .footer .footer__info ul li:last-child a {
      margin-bottom: 0px; }
  .footer .footer__socials {
    display: flex;
    justify-content: center;
    align-items: center; }
    .footer .footer__socials a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      margin-right: 12px;
      -webkit-transition: background .3s ease-in;
      -o-transition: background .3s ease-in;
      transition: background .3s ease-in;
      text-decoration: none; }
      .footer .footer__socials a:last-child {
        margin-right: 0px; }
      .footer .footer__socials a:hover {
        background: #ffffff; }
        .footer .footer__socials a:hover .fa::before {
          color: #070439; }
      .footer .footer__socials a .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        color: #fff; }
        .footer .footer__socials a .fa.fa-facebook::before {
          content: '\f39e'; }
        .footer .footer__socials a .fa.fa-twitter::before {
          content: '\f099'; }
        .footer .footer__socials a .fa.fa-instagram::before {
          content: '\f16d'; }

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer {
    flex-direction: row; }
    .footer .footer__contact {
      width: 100%; }
    .footer .footer__info {
      width: 50%; } }
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 25.6px; }

  h1 {
    font-size: 32px;
    line-height: 44.8px; }

  h2 {
    font-size: 24px;
    line-height: 33.6px; }

  .header {
    padding: 64px 72px 234px; }
    .header .header__welcome-wrapper .welcome-wrapper__illustration {
      width: 80%; }

  .main::before {
    height: 114px;
    top: -114px;
    background-image: url(../assets/img/bg-curve-desktop.svg); }
  .main .main__stay-productive-wrapper {
    padding: 60px 72px 80px; }
    .main .main__stay-productive-wrapper .stay-productive-wrapper__illustration {
      display: block;
      width: 80%;
      margin: 0px auto 80px; }
  .main .main__early-access-wrapper {
    padding: 120px 72px; }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 120px 72px 80px; }
    .footer .footer__section-box {
      margin: 0px; }
    .footer .footer__logo {
      margin-bottom: 24px; }
    .footer .footer__socials {
      width: 25%;
      justify-content: flex-start;
      align-items: flex-start; } }
@media screen and (min-width: 1024px) {
  .header {
    padding-bottom: 274px; }
    .header .header__nav-wrapper .header__nav .nav__list .nav__item {
      padding-right: 48px; }
    .header .header__welcome-wrapper {
      flex-direction: row-reverse; }
      .header .header__welcome-wrapper .welcome-wrapper__illustration {
        width: 50%;
        margin-bottom: 0px; }
      .header .header__welcome-wrapper .welcome-wrapper__get-started {
        width: 45%;
        margin-right: 5%; }
        .header .header__welcome-wrapper .welcome-wrapper__get-started h1 {
          text-align: left; }
        .header .header__welcome-wrapper .welcome-wrapper__get-started p {
          margin: 0;
          text-align: left; }
        .header .header__welcome-wrapper .welcome-wrapper__get-started .welcome-wrapper__form {
          flex-direction: row; }
          .header .header__welcome-wrapper .welcome-wrapper__get-started .welcome-wrapper__form .form__input {
            width: 68%; }
          .header .header__welcome-wrapper .welcome-wrapper__get-started .welcome-wrapper__form .form__submit-button {
            width: 30%;
            margin-left: 2%;
            margin-top: 0px; }

  .main .main__stay-productive-wrapper {
    flex-direction: row-reverse;
    padding: 120px 72px; }
    .main .main__stay-productive-wrapper .stay-productive-wrapper__illustration {
      width: 40%;
      margin: 0px 0px 0px 5%; }
    .main .main__stay-productive-wrapper .stay-productive-wrapper__description {
      width: 55%; }
      .main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__header {
        text-align: left;
        margin-bottom: 40px; }
      .main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__paragraph:nth-child(even) {
        margin-bottom: 16px; }
      .main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__see-how {
        margin: 16px 0px 24px; }
      .main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__review {
        margin: 48px 0px 0px;
        width: 320px; }
  .main .main__early-access-wrapper {
    flex-direction: row; }
    .main .main__early-access-wrapper > div {
      width: 50%;
      margin-right: 10%; }
      .main .main__early-access-wrapper > div .early-access-wrapper__header {
        text-align: left;
        margin-bottom: 24px; }
      .main .main__early-access-wrapper > div .early-access-wrapper__description {
        text-align: left; }
    .main .main__early-access-wrapper .early-access-wrapper__form {
      margin-top: 0px;
      padding: 0px;
      width: 40%; }
      .main .main__early-access-wrapper .early-access-wrapper__form .form__submit-button {
        margin-top: 16px;
        width: 50%; } }

/*# sourceMappingURL=style.css.map */
