*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 22.4px;
  font-weight: 400;
  color: #070439;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 30px;
  line-height: 42px;
}

h2 {
  font-size: 18px;
  line-height: 25.2px;
}

.cta-button {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  border: none;
  border-radius: 4px;
  background: #3065f8;
  text-transform: capitalize;
  box-shadow: 0px 4px 16px rgba(7, 4, 57, 0.25);
}

.form .form__input {
  width: 100%;
  border: 1px solid #070439;
  border-radius: 4px;
  padding: 12px 16px;
  color: #070439;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: 0px 4px 8px rgba(7, 4, 57, 0.1);
}
.form .form__input::placeholder {
  color: #bfbfbf;
}

.header {
  padding: 24px 24px 90px;
}
.header .header__nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}
.header .header__nav-wrapper .header__logo {
  display: flex;
  width: 80px;
}
.header .header__nav-wrapper .header__logo img {
  width: 100%;
  height: auto;
}
.header .header__nav-wrapper .header__nav .nav__list {
  display: flex;
  list-style: none;
}
.header .header__nav-wrapper .header__nav .nav__list .nav__item {
  padding-right: 24px;
  font-family: 'Raleway';
  font-weight: 400;
}
.header .header__nav-wrapper .header__nav .nav__list .nav__item:last-child {
  padding-right: 0px;
}
.header .header__nav-wrapper .header__nav .nav__list .nav__item a {
  text-decoration: none;
  color: #070439;
}
.header .header__welcome-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header .header__welcome-wrapper .welcome-wrapper__illustration {
  width: 100%;
  margin-bottom: 40px;
}
.header .header__welcome-wrapper .welcome-wrapper__get-started h1 {
  text-align: center;
  margin-bottom: 24px;
}
.header .header__welcome-wrapper .welcome-wrapper__get-started p {
  margin: 0 auto;
  text-align: center;
}
.header .header__welcome-wrapper .welcome-wrapper__get-started .welcome-wrapper__form {
  margin-top: 32px;
}
.header .header__welcome-wrapper .welcome-wrapper__get-started .welcome-wrapper__form .form__submit-button {
  margin-top: 16px;
}

.main {
  overflow: hidden;
}
.main .bg-wave {
  display: flex;
  width: 100%;
}
.main .bg-wave img {
  width: 100%;
  height: auto;
}
.main .main__stay-productive-wrapper {
  padding: 60px 24px 80px;
  background: #f6f6fe;
}
.main .main__stay-productive-wrapper .stay-productive-wrapper__illustration {
  width: 100%;
  margin-bottom: 80px;
}
.main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__header {
  text-align: center;
  margin: 32px;
}
.main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__paragraph:nth-child(even) {
  margin-bottom: 16px;
}
.main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__see-how {
  display: flex;
  align-items: center;
  margin: 48px auto;
  padding: 6px 0px;
  background: none;
  border: none;
  border-bottom: 1px solid #3c9f8f;
  color: #3c9f8f;
  font-family: 'Raleway';
  font-weight: 400;
  cursor: pointer;
}
.main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__see-how img {
  margin-left: 8px;
}
.main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__review {
  background: #fff;
  border-radius: 4px;
  margin: 0px 8px;
  padding: 24px 32px;
  box-shadow: 0px 4px 12px rgba(7, 4, 57, 0.1);
}
.main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__review .review__quotes {
  width: 13px;
  height: 12px;
  background: url(../assets/img/icon-quotes.svg) no-repeat center center;
  background-size: cover;
  margin-bottom: 10px;
}
.main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__review .review__text {
  display: block;
  font-size: 12px;
  font-style: normal;
  margin-bottom: 16px;
}
.main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__review .review__author {
  display: flex;
  align-items: center;
}
.main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__review .review__author .author__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}
.main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__review .review__author .author__signature {
  display: flex;
  flex-direction: column;
}
.main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__review .review__author .author__signature .signature__name {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 2px;
}
.main .main__stay-productive-wrapper .stay-productive-wrapper__description .description__review .review__author .author__signature .signature__position {
  font-size: 10px;
  line-height: 12px;
}
.main .main__early-access-wrapper {
  padding: 72px 40px;
  background: #585989;
  color: #f6f6fe;
}
.main .main__early-access-wrapper .early-access-wrapper__header {
  text-align: center;
  margin-bottom: 16px;
  color: #ffffff;
}
.main .main__early-access-wrapper .early-access-wrapper__description {
  text-align: center;
}
.main .main__early-access-wrapper .early-access-wrapper__form {
  margin-top: 24px;
  padding: 0px 16px;
}
.main .main__early-access-wrapper .early-access-wrapper__form .form__input {
  padding: 12px 8px;
}
.main .main__early-access-wrapper .early-access-wrapper__form .form__submit-button {
  margin-top: 8px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #070439;
  color: #ffffff;
  padding: 64px 40px 0px;
}
.footer .footer__logo {
  width: 100%;
  margin-bottom: 40px;
}
.footer .footer__logo div {
  width: 160px;
  height: 48px;
  -webkit-mask-image: url(../assets/img/logo.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: top left;
  -webkit-mask-size: contain;
  mask-image: url(../assets/img/logo.svg);
  mask-repeat: no-repeat;
  mask-position: top left;
  mask-size: contain;
  background: #ffffff;
}
.footer .footer__section-box {
  margin-bottom: 48px;
}
.footer .footer__contact div {
  display: flex;
  align-items: center;
}
.footer .footer__contact div:first-child {
  margin-bottom: 16px;
}
.footer .footer__contact div img {
  width: 20px;
  margin-right: 16px;
}
.footer .footer__contact div span {
  font-size: 16px;
}
.footer .footer__contact div span a {
  color: #ffffff;
  text-decoration: none;
}
.footer .footer__info ul li {
  list-style: none;
}
.footer .footer__info ul li a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 16px;
  font-size: 16px;
}
.footer .footer__info ul li:last-child a {
  margin-bottom: 0px;
}
.footer .footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer__socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin-right: 12px;
  transition: background .2s ease-in;
}
.footer .footer__socials a:last-child {
  margin-right: 0px;
}
.footer .footer__socials a .socials__facebook, .footer .footer__socials a .socials__twitter, .footer .footer__socials a .socials__instagram {
  width: 14px;
  height: 14px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
}
.footer .footer__socials a .socials__facebook {
  -webkit-mask-image: url(../assets/img/icon-facebook.svg);
  mask-image: url(../assets/img/icon-facebook.svg);
  background: #ffffff;
}
.footer .footer__socials a .socials__twitter {
  -webkit-mask-image: url(../assets/img/icon-twitter.svg);
  mask-image: url(../assets/img/icon-twitter.svg);
  background: #ffffff;
}
.footer .footer__socials a .socials__instagram {
  -webkit-mask-image: url(../assets/img/icon-instagram.svg);
  mask-image: url(../assets/img/icon-instagram.svg);
  background: #ffffff;
}
.footer .footer__socials a:hover {
  background: #ffffff;
}
.footer .footer__socials a:hover .socials__facebook, .footer .footer__socials a:hover .socials__twitter, .footer .footer__socials a:hover .socials__instagram {
  background: #070439;
}
