@charset 'utf-8';

// Colors
$dark-blue-intro: hsl(217, 28%, 15%); //intro and email sign up background
$dark-blue-main: hsl(218, 28%, 13%); //main background
$dark-blue-footer: hsl(216, 53%, 9%); //footer background
$dark-blue-testimonials: hsl(219, 30%, 18%); //testimonials background
$cyan: hsl(176, 68%, 64%); //inside call-to-action gradient
$blue: hsl(198, 60%, 50%); //inside call-to-action gradient
$white: hsl(0, 0%, 100%);

// Fonts
@mixin font-heading-cta($font-weight: 700, $font-size: 1rem) {
    font-family: "Raleway", sans-serif;
    font-weight: $font-weight;

    @if $font-size != 1rem {
        font-size: $font-size;
    }
}

@mixin font-body($font-weight: 400, $font-size: 1rem) {
    font-family: "Open Sans", sans-serif;
    font-weight: $font-weight;

    @if $font-size != 1rem {
        font-size: $font-size;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 14px;
}

body {
    @include font-body();

    color: $white;
    background-color: $dark-blue-main;
    line-height: 1.6;
}

h1, h2 {
    @include font-heading-cta();

    line-height: 1.5;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 5% 64px;
    background-color: $dark-blue-intro;
}

.logo {
    display: block;
    width: 80px;

    &__image {
        display: block;
        width: 100%;
    }
}

.menu {
    @include font-heading-cta(400);

    display: flex;
    list-style: none;

    &__item {
        &:not(:last-child) {
            margin-right: 24px;
        }
    }

    &__link {
        position: relative;
        color: $white;
        text-decoration: none;
        text-transform: capitalize;

        &::after {
            position: absolute;
            content: "";
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $white;
            transform-origin: top left;
            transform: scaleX(0);
            will-change: transform;
            transition: transform 0.3s ease-in;
        }

        &:hover::after {
            transform: scaleX(1);
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 7%;
    background: url("../assets/bg/bg-curvy-mobile.svg") center calc(53vh - 141px) /
        100% 141px no-repeat,
        linear-gradient(180deg, $dark-blue-intro 53vh, $dark-blue-main 53vh);
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;

    &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        text-align: center;
        margin-bottom: 24px;
    }

    &__paragraph {
        text-align: center;
        margin-bottom: 32px;
    }
}

.illustration {
    display: block;
    width: 90%;
    margin-bottom: 32px;
}

.cta-button {
    @include font-heading-cta();

    position: relative;
    width: 70%;
    max-width: 300px;
    min-width: 150px;
    padding: 16px 0;
    border: none;
    border-radius: 100px;
    text-transform: capitalize;
    color: $white;
    cursor: pointer;
    background: linear-gradient(90deg, $cyan, $blue);
    will-change: opacity;
    transition: opacity 0.3s ease-in;

    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $blue;
        border-radius: 100px;
        opacity: 0;
        will-change: opacity;
        transition: opacity 0.3s ease-in;
        z-index: -1;
    }

    &:hover::after {
        opacity: 1;
    }
}

.features {
    display: grid;
    grid-row-gap: 96px;
    text-align: center;
    margin-bottom: 120px;

    &__icon {
        display: inline-block;
        max-width: 64px;
        max-height: 64px;
        margin-bottom: 24px;
    }

    &__heading {
        margin-bottom: 16px;
    }
}

.how-works {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px;

    &__heading {
        margin-bottom: 24px;
        text-align: center;
    }

    &__paragraph {
        margin-bottom: 16px;
    }

    &__button {
        @include font-heading-cta(400);

        position: relative;
        align-self: flex-start;
        padding: 6px 22px 6px 0;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $cyan;
        color: $cyan;
        cursor: pointer;

        &::after {
            position: absolute;
            content: "";
            width: 16px;
            height: 16px;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            background: url("../assets/icons/icon-arrow.svg") center/cover no-repeat;
        }
    }
}

.testimonials {
    position: relative;
    display: grid;
    grid-gap: 24px;
    padding: 0 4%;

    &::before {
        position: absolute;
        top: -17px;
        left: 8vw;
        content: "";
        width: 24px;
        height: 24px;
        background: url("../assets/bg/bg-quotes.png") top left/contain no-repeat;
        z-index: 0;
    }
}

.review {
    border-radius: 4px;
    background-color: $dark-blue-testimonials;
    padding: 26px 20px;
    font-size: 0.85rem;
    box-shadow: 2px 4px 12px rgba(lighten($dark-blue-testimonials, 10%), 0.24);
    z-index: 1;

    &__paragraph {
        line-height: 1.8;
    }

    &__author {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 24px;
    }

    &__avatar {
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    &__name {
        @include font-heading-cta(700);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 12px;
    }

    &__position {
        @include font-body(400, 0.7rem);
    }
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    transform: translateY(-50%);
    left: 7%;
    right: 7%;
    background-color: $dark-blue-intro;
    padding: 40px 24px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 4px 8px 16px rgba(darken($dark-blue-intro, 10%), 0.48);

    &__heading {
        margin-bottom: 16px;
    }
}

.form {
    width: 100%;
    margin-top: 32px;

    &__button,
    &__input {
        width: 100%;
    }

    &__input {
        @include font-body(700, 0.8rem);

        margin-bottom: 16px;
        padding: 16px 24px;
        border-radius: 100px;
        border: none;
        color: $dark-blue-footer;

        &::placeholder {
            @include font-body();
        }
    }
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 7%;
    background-color: $dark-blue-footer;
    margin-top: 300px;

    &__logo {
        margin-top: 260px;
        width: 180px;
    }

    &__container {
        display: grid;
        grid-row-gap: 64px;
        margin: 40px 0;
    }

    &__link {
        text-decoration: none;
        color: $white;
    }
}

.f-info {
    display: grid;
    grid-row-gap: 16px;

    &__location, &__phone, &__email {
        display: grid;
        grid-template-columns: 16px 1fr;
        grid-column-gap: 16px;
        align-items: center;
    }

    &__location {
        align-items: start;
    }

    &__paragraph {
        margin-top: -5px;
    }

    &__icon {
        display: block;
        max-width: 16px;
        max-height: 16px;
    }
}

.f-nav {
    &__menu {
        display: grid;
        grid-gap: 16px 0;
        list-style: none;
    }

    &__item .footer__link {
        text-transform: capitalize;

        &:hover {
            color: darken($white, 20%);
        }
    }
}

.f-socials {
    justify-self: center;

    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 1px solid $white;
        border-radius: 50%;
        padding: 8px;
        will-change: background-color;
        transition: background-color .3s ease-in;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 16px;
        }

        &:hover {
            background-color: $white;

            .f-socials__icon path {
                fill: $dark-blue-footer;
            }
        }
    }

    &__icon {
        display: block;
        max-width: 16px;
        max-height: 16px;
    }
}

@media screen and (min-width: 768px) {
    :root {
        font-size: 16px;
    }

    .navigation {
        padding: 48px 7% 72px;
    }

    .logo {
        width: 120px;
    }

    .menu {
        &__item {
            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }

    .main {
        padding: 0 10%;
        background: url("../assets/bg/bg-curvy-desktop.svg") center calc(120vh - 449px) / 100% 449px no-repeat,
            linear-gradient(180deg, $dark-blue-intro 120vh, $dark-blue-main 120vh);
    }

    .intro {
        margin-bottom: 160px;
        padding: 0 10%;
    }

    .illustration {
        width: 100%;
        margin-bottom: 56px;
    }

    .cta-button {
        max-width: 250px;
    }

    .features {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 64px;
        padding: 0 5%;
        margin-bottom: 160px;

        &__icon {
            max-width: unset;
            max-height: unset;
            height: 72px;
            margin-bottom: 32px;
        }
    }

    .how-works {
        flex-direction: row;
        margin-bottom: 200px;

        &__illustration {
            width: 50%;
            margin-bottom: 0;
            margin-right: 10%;
        }

        &__description {
            width: 40%;
        }

        &__heading {
            text-align: left;
        }

        &__paragraph {
            margin-bottom: 16px;
        }
    }

    .testimonials {
        grid-gap: 32px;

        &::before {
            top: -28px;
            left: 2vw;
            width: 48px;
            height: 48px;
        }
    }

    .newsletter {
        left: 10%;
        right: 10%;
        padding: 48px 72px;

        &__heading {
            margin-bottom: 24px;
        }
    }

    .form {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        &__button {
            width: 30%;
        }

        &__input {
            width: 65%;
            margin-bottom: 0px;
            padding: 16px 24px;
        }
    }

    .footer {
        padding: 0 10%;
        margin-top: 380px;

        &__container {
            grid-template-columns: repeat(3, 1fr);
            margin: 40px 0 96px;
        }

        &__logo {
            margin-bottom: 24px;
        }
    }

    .f-info {
        grid-column: 1 / span 3;
    }

    .f-socials {
        justify-self: end;
    }
}

@media screen and (min-width: 900px) {
    .intro {
        &__paragraph {
            width: 80%;
        }
    }

    .illustration {
        width: 80%;
        margin-bottom: 64px;
    }

    .features {
        grid-column-gap: 80px;
    }

    .how-works {
        &__illustration {
            width: 40%;
            margin-bottom: 0;
            margin-right: 10%;
        }

        &__description {
            width: 50%;
        }
    }

    .testimonials {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 48px;
        padding: 0 5%;

        &::before {
            top: -28px;
            left: 3vw;
            width: 48px;
            height: 48px;
        }
    }

    .review {
        border-radius: 8px;
        padding: 32px 20px 26px;
    }

    .footer {
        &__container {
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 0 24px;
        }
    }

    .f-info {
        grid-column: 1 / span 2;
    }

    .f-nav {
        justify-self: center;
    }
}

@media screen and (min-width: 1280px) {
    .intro {
        padding: 0 20%;
    }

    .features {
        grid-column-gap: 120px;
        padding: 0 10%;
        margin-bottom: 200px;
    }

    .testimonials {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 8%;

        &::before {
            top: -28px;
            left: 5.75vw;
            width: 48px;
            height: 48px;
        }
    }

    .newsletter {
        left: 25%;
        right: 25%;
        padding: 48px 72px;
    }

    .form {
        &__input {
            width: 67%;
        }
    }

    .footer {
        padding: 0 5%;
    }

    .f-info {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 2fr 1fr;
        grid-row-gap: 0px;
        grid-column-gap: 56px;

        &__location, &__phone, &__email {
            grid-template-columns: 24px 1fr;
        }

        &__location {
            grid-row: 1 / span 4;
            grid-column: 1 / 2;
        }

        &__phone, &__email {
            align-items: start;
            grid-column: 2 / 3;
            line-height: 1;
        }

        &__phone {
            grid-row: 1 / 2;
        }

        &__email {
            grid-row: 2 / 3;
        }

        &__icon {
            max-width: 24px;
            max-height: 24px;
        }
    }

    .f-nav {
        justify-self: end;
    }

    .f-nav + .f-nav {
        justify-self: center;
    }
}