@charset 'utf-8';

// Colors
$dark-blue-intro: hsl(217, 28%, 15%); //intro and email sign up background
$dark-blue-main: hsl(218, 28%, 13%); //main background
$dark-blue-footer: hsl(216, 53%, 9%); //footer background
$dark-blue-testimonials: hsl(219, 30%, 18%); //testimonials background
$cyan: hsl(176, 68%, 64%); //inside call-to-action gradient
$blue: hsl(198, 60%, 50%); //inside call-to-action gradient
$white: hsl(0, 0%, 100%);

// Fonts
@mixin font-heading-cta($font-weight: 700, $font-size: 1rem) {
    font-family: 'Raleway', sans-serif;
    font-weight: $font-weight;

    @if $font-size != 1rem {
        font-size: $font-size;
    }
}

@mixin font-body($font-weight: 400, $font-size: 1rem) {
    font-family: 'Open Sans', sans-serif;
    font-weight: $font-weight;

    @if $font-size != 1rem {
        font-size: $font-size;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 14px;
}

body {
    @include font-body();

    color: $white;
    background-color: $dark-blue-main;
    line-height: 1.6;
}

h1, h2 {
    @include font-heading-cta();

    line-height: 1.5;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 5% 64px;
    background-color: $dark-blue-intro;
}

.logo {
    display: block;
    width: 80px;

    &__image {
        display: block;
        width: 100%;
    }
}

.menu {
    @include font-heading-cta(400);

    display: flex;
    list-style: none;

    &__item {
        &:not(:last-child) {
            margin-right: 24px;;
        }
    }

    &__link {
        position: relative;
        color: $white;
        text-decoration: none;
        text-transform: capitalize;

        &::after {
            position: absolute;
            content: '';
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $white;
            transform-origin: top left;
            transform: scaleX(0);
            will-change: transform;
            transition: transform .3s ease-in;
        }

        &:hover::after {
            transform: scaleX(1);
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 7%;
    background:
        url('../assets/bg/bg-curvy-mobile.svg') center calc(53vh - 141px)/100% 141px no-repeat,
        linear-gradient(180deg, $dark-blue-intro 53vh, $dark-blue-main 53vh);
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;

    &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__heading {
        text-align: center;
        margin-bottom: 24px;
    }

    &__paragraph {
        text-align: center;
        margin-bottom: 40px;
    }
}

.illustration {
    display: block;
    width: 90%;
    margin-bottom: 32px;
}

.cta-button {
    @include font-heading-cta();

    position: relative;
    width: 70%;
    max-width: 300px;
    min-width: 150px;
    padding: 16px 0;
    border: none;
    border-radius: 100px;
    text-transform: capitalize;
    color: $white;
    cursor: pointer;
    background: linear-gradient(90deg, $cyan, $blue);
    will-change: opacity;
    transition: opacity .3s ease-in;

    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $blue;
        border-radius: 100px;
        opacity: 0;
        will-change: opacity;
        transition: opacity .3s ease-in;
        z-index: -1;
    }

    &:hover::after {
        opacity: 1;
    }
}

.features {
    display: grid;
    grid-gap: 96px 120px;
    text-align: center;
    margin-bottom: 120px;

    &__icon {
        display: inline-block;
        max-width: 64px;
        max-height: 64px;
        margin-bottom: 24px;
    }

    &__heading {
        margin-bottom: 16px;
    }
}

.how-works {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px;

    &__heading {
        margin-bottom: 24px;
        text-align: center;
    }

    &__paragraph {
        margin-bottom: 16px;
    }

    &__button {
        @include font-heading-cta(400);

        position: relative;
        align-self: flex-start;
        padding: 6px 22px 6px 0;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $cyan;
        color: $cyan;
        cursor: pointer;

        &::after {
            position: absolute;
            content: '';
            width: 16px;
            height: 16px;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            background: url('../assets/icons/icon-arrow.svg') center/cover no-repeat;
        }
    }
}

.testimonials {
    position: relative;
    display: grid;
    grid-gap: 24px;
    padding: 0 4%;

    &::before {
        position: absolute;
        top: -17px;
        left: 8%;
        content: '';
        width: 24px;
        height: 24px;
        background: url('../assets/bg/bg-quotes.png') top left/contain no-repeat;
        z-index: 0;
    }
}

.review {
    border-radius: 4px;
    background-color: $dark-blue-testimonials;
    padding: 26px 20px;
    font-size: 0.85rem;
    box-shadow: 2px 4px 12px rgba(lighten($dark-blue-testimonials, 10%), .24);
    z-index: 1;

    &__paragraph {
        line-height: 1.8;
    }

    &__author {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 24px;
    }

    &__avatar {
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    &__name {
        @include font-heading-cta(700);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 12px;
    }

    &__position {
        @include font-body(400, .7rem);
    }
}