//colors
$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dark-grayish-red: hsl(0, 6%, 24%);

//gradients
$gradient1: linear-gradient(135deg, hsl(0, 0%, 100%) 0%, hsl(0, 100%, 98%) 100%);
$gradient2: linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 16*1.6px;
    font-weight: 400;
    color: $dark-grayish-red;
}

h1 {
    font-size: 48px;
    line-height: 48*1.1px;
}

.header {
    width: 100%;
    padding: 32px;
    background: #ffffff;

    .header__logo {
        display: flex;
        width: 100px;

        img {
            width: 100%;
        }
    }
}

.hero-photo {
    width: 100%;
    height: 280px;
    overflow: hidden;
    background: url(../assets/img/hero-mobile.jpg) no-repeat top left;
    background-size: cover;
}

.main {
    background: $gradient1;
    padding: 72px 32px 92px;

    .main__header {
        margin: 0 auto 16px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 12px;

        span {
            font-weight: 300;
            color: $desaturated-red;
        }
    }

    .main__description {
        text-align: center;
        color: $desaturated-red;
        margin-bottom: 40px;
    }

    .main__form {
        position: relative;
        width: 100%;

        .form__email-input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 100%;
            padding: 16px 24px;
            border: 1px solid rgba($color: $desaturated-red, $alpha: .45);
            border-radius: 100px;
            background: rgba(0, 0, 0, 0);
            outline: none;

            &::placeholder {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 14px;
                font-weight: 600;
                color: rgba($color: $desaturated-red, $alpha: .5);
                text-transform: capitalize;
            }
        }

        .form__submit {
            position: absolute;
            display: block;
            width: 64px;
            height: 100%;
            top: 0;
            right: 0;
            border-radius: 100px;
            border: none;
            background: url(../assets/img/icon-arrow.svg) no-repeat center center, $gradient2;
            background-size: auto 20px, cover;
            box-shadow: 0px 16px 16px rgba($color: $dark-grayish-red, $alpha: .15);
        }
    }

}
