//colors
$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dark-grayish-red: hsl(0, 6%, 24%);

//gradients
$gradient1: linear-gradient(135deg, hsl(0, 0%, 100%) 0%, hsl(0, 100%, 98%) 100%);
$gradient2: linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 16*1.6px;
    font-weight: 400;
    color: $dark-grayish-red;
}

h1 {
    font-size: 48px;
    line-height: 48*1.1px;
}

.header {
    width: 100%;
    padding: 32px;
    background: #ffffff;

    .header__logo {
        display: flex;
        width: 100px;

        img {
            width: 100%;
        }
    }
}

.hero-photo {
    width: 100%;
    height: 280px;
    overflow: hidden;
    background: url(../assets/img/hero-mobile.jpg) no-repeat center center;
    background-size: cover;
}

.main {
    background: $gradient1;
    padding: 72px 32px 92px;

    .main__header {
        margin: 0 auto 16px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 12px;

        span {
            font-weight: 300;
            color: $desaturated-red;
        }
    }

    .main__description {
        text-align: center;
        color: $desaturated-red;
        margin-bottom: 40px;
    }
}

.form__input-box {
    position: relative;

    .form__email-input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        padding: 16px 80px 16px 24px;
        border: 1px solid rgba($color: $desaturated-red, $alpha: .45);
        border-radius: 100px;
        background: rgba(0, 0, 0, 0);
        outline: none;
        font-weight: 600;

        &::placeholder {
            color: rgba($color: $desaturated-red, $alpha: .5);
            text-transform: capitalize;
        }

        &:focus {
            border-color: rgba($color: $desaturated-red, $alpha: 1);
        }

        &.error-data {
            border-color: $soft-red;
            border-width: 1.5px;
            padding-right: 112px;
        }
    }

    .form__submit {
        position: absolute;
        display: block;
        width: 64px;
        height: 100%;
        top: 0;
        right: 0;
        border-radius: 100px;
        border: none;
        background: url(../assets/img/icon-arrow.svg) no-repeat center center, $gradient2;
        background-size: auto 20px, cover;
        box-shadow: 0px 16px 16px rgba($color: $dark-grayish-red, $alpha: .15);

        &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            border-radius: 100px;
            box-shadow: 0px 16px 16px rgba($color: $dark-grayish-red, $alpha: .15);
            opacity: 0;
            will-change: opacity;
            transition: opacity .3s ease-in;
        }

        &:hover::after {
            opacity: 1;
        }
    }
}

.form__message {
    display: none;
    font-size: 12px;
    margin: 4px 0px 0px 24px;

    &.message--error {
        display: block;
        color: $soft-red;
    }

    &.message--success {
        display: block;
        color: green;
    }
}

.form__message-icon {
    position: absolute;
    top: 50%;
    right: 80px;
    width: 24px;
    height: 24px;
    transform: translateY(-12px);
    transform-origin: center center;
    opacity: 0;
    will-change: opacity;
    transition: opacity .3s ease-in;

    &.message-icon--error {
        opacity: 1;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 64px;
        line-height: 64*1.1px;
    }

    .header {
        width: 70%;
        padding: 64px;
        background: none;

        .header__logo {
            width: 160px;
        }
    }

    .hero-photo {
        position: fixed;
        top: 0;
        right: 0;
        width: 30%;
        height: 100%;
        background-image: url(../assets/img/hero-desktop.jpg);
    }

    .main {
        width: 70%;
        background: none;
        padding: 112px 64px;

        .main__header {
            margin: 0 0 40px;
            text-align: left;
        }

        .main__description {
            text-align: left;
            margin-bottom: 48px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .header {
        padding: 64px 160px;
    }

    .main {
        padding: 112px 160px;
    }
}

@media screen and (min-width: 1440px) {
    .header {
        padding: 64px 200px;
    }

    .main {
        padding: 112px 200px;
    }
}