// Colors
$red: hsl(0, 100%, 68%);
$white: hsl(0, 0%, 100%);
$very-dark-blue: hsl(230, 29%, 20%);
$dark-grayish-blue: hsl(230, 11%, 40%);
$grayish-blue: hsl(231, 7%, 65%);
$light-grayish-blue: hsl(207, 33%, 95%);

// Fonts
@mixin font-headings ($font-weight: 700, $font-size: 1rem) {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: $font-weight;

    @if $font-size != 1rem {
        font-size: $font-size;
    }
}

@mixin font-body ($font-size: 1rem) {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;

    @if $font-size != 1rem {
        font-size: $font-size;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 18px;
}

body {
    @include font-body();

    background-color: $white;
    padding: 0;
    margin: 0;
    color: $very-dark-blue;
}

h1 {
    @include font-headings(700, 2rem);

    margin: 0;
    padding: 0;
}

.navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 40px 32px;

    &::after {
        position: absolute;
        content: '';
        width: 50vw;
        height: 62vh;
        top: 0;
        right: 0;
        border-bottom-left-radius: 80px;
        background: $light-grayish-blue;
        z-index: -1;
    }
}

.logo {
    display: block;
    width: 24px;

    &__image {
        display: block;
        width: 100%;
    }
}

.hamburger {
    margin: 0;
    padding: 10px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;

    &__container {
        position: relative;
        display: flex;
        width: 24px;
        height: 18px;
    }

    &__bar {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $very-dark-blue;
        left: 0;
        display: inline-block;

        &:first-of-type {
            top: 0;
        }

        &:nth-child(2) {
            top: 8px;
            will-change: transform, opacity;
            transition: transform 0.3s ease-in, opacity 0.3s ease-in;
        }

        &:last-of-type {
            top: 16px;
        }

        &:first-of-type, &:last-of-type {
            will-change: transform;
            transition: transform 0.3s ease-in;
        }
    }

    &--active {
        .hamburger__bar:first-of-type {
            transform: translateY(8px) rotate(135deg);
        }

        .hamburger__bar:last-of-type {
            transform: translateY(-8px) rotate(-135deg);
        }

        .hamburger__bar:nth-child(2) {
            opacity: 0;
            transform: translateX(-24px);
        }
    }
}

.menu {
    @include font-headings();

    position: absolute;
    top: 110px;
    left: 32px;
    right: 32px;
    background-color: $white;
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 4px rgba($very-dark-blue, 0.16);
    transform: translateY(-50px) scale(0);
    transform-origin: top right;
    opacity: 0;
    will-change: transform, opacity;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item:not(:last-child) {
        margin-bottom: 24px;
    }

    &__item:last-child {
        padding: 24px 0 0;
        border-top: 1px solid $grayish-blue;

        .menu__link {
            color: $grayish-blue;
        }
    }

    &__link {
        text-decoration: none;
        color: $very-dark-blue;
    }

    &--open {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.intro {
    display: flex;
    align-items: center;
    flex-direction: column;

    &__description {
        margin-top: 64px;
        padding: 0 32px;
    }

    &__heading {
        text-transform: uppercase;
    }
}

.illustration {
    width: 100%;
    margin: 0;

    img {
        display: block;
        width: 100%;
    }
}

.feature-status {
    margin-bottom: 24px;

    &__paragraph {
        margin: 0;
    }

    &--new {
        @include font-headings(700, 0.75rem);

        display: inline-block;
        padding: 6px 10px;
        background-color: $very-dark-blue;
        color: $white;
        text-transform: uppercase;
        border-radius: 100px;
        line-height: 1;
    }
}