$blue: hsl(223, 87%, 63%);
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$dark-blue: hsl(209, 33%, 12%);

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Weights: 300, 600, 700

body {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Libre Franklin', sans-serif;
    color: $dark-blue;
    padding: 0px 32px;
}

h1 {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: $gray;

    strong {
        color: $dark-blue;
        font-weight: 700;
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto 32px;

    .header__logo {
        width: 56px;
    }
}

section {
    h1 {
        margin: 0px 24px 16px;
    }

    p {
        margin: 0px 24px;
        text-align: center;
    }

    form {
        margin: 40px 24px 72px;

        input {
            width: 100%;
            border: none;
            border-radius: 100px;
            height: 40px;

            &:first-child {
                margin-bottom: 12px;
            }

            &.form__email {
                border: 1px solid $pale-blue;
                padding: 0px 16px;
                font-size: 14px;

                &::placeholder {
                    color: rgba($color: $gray, $alpha: .5);
                }
            }
        }
    }

    img {
        width: 100%;
    }
}