//colors
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);

*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background: url(../assets/img/bg-intro-mobile.png) repeat-y center top;
    background-color: $red;
    color: #ffffff;
    padding: 0px 24px;
}

.box-wrapper {
    width: 100%;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0px 8px 0px rgba($color: #000, $alpha: .15);
}

.form__message {
    display: block;
    width: 100%;
    text-align: right;
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    margin-top: 4px;

    &.message--error {
        color: $red;
    }
}

.input__icon {
    display: none;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 24px;
    top: 50%;
    transform: translateY(-12px);

    &.icon--error {
        display: block;
        background: url(../assets/img/icon-error.svg) no-repeat;
    }

    &.icon--success {
        display: block;
        background: url(../assets/img/icon-success.svg) no-repeat;
    }
}

header {
    margin: 92px 0px 56px;

    h1 {
        font-weight: 700;
        font-size: 28px;
        line-height: 28*1.4px;
        text-align: center;
        margin-bottom: 24px;
    }

    p {
        text-align: center;
        font-weight: 400;
    }
}

section {
    .section__try {
        background: $blue;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        padding: 16px 24px;
        margin-bottom: 24px;

        span {
            display: block;
            padding: 0px 20%;
            line-height: 14*1.8px;

            strong {
                font-weight: 700;
            }
        }
    }

    .section__form {
        display: flex;
        flex-direction: column;
        background: #ffffff;
        margin-bottom: 62px;

        .form__input {
            margin-bottom: 16px;

            .input__box {
                position: relative;

                input {
                    width: 100%;
                    padding: 16px 18px;
                    border: 1px solid $grayish-blue;
                    border-radius: 10px;
                    outline: none;
                    font-size: 12px;
                    color: $dark-blue;
                    font-weight: 600;

                    &:focus {
                        border-color: $dark-blue;
                    }

                    &.input--error {
                        padding-right: 64px;
                        border-width: 1.5px;
                        border-color: $red;
                    }

                    &.input--success {
                        padding-right: 64px;
                        border-width: 1.5px;
                        border-color: $green;
                    }
                }
            }
        }

        .form__submit {
            width: 100%;
            background: $green;
            color: #ffffff;
            border-radius: 10px;
            border: none;
            border-bottom: 4px solid darken($color: $green, $amount: 10%);
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            padding: 16px 0px;
            margin-bottom: 16px;
            transition: background .2s ease-in;
            cursor: pointer;

            &:hover {
                background: rgba($color: $green, $alpha: .75);
            }

            &[disabled='disabled'] {
                background: rgba($color: $green, $alpha: .55);
                border: none;
            }
        }

        .form__terms {
            display: block;
            margin: 0px auto;
            width: 90%;
            font-size: 12px;
            color: $grayish-blue;
            text-align: center;

            a {
                font-weight: 700;
                text-decoration: none;
                color: $red;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    body {
        background-image: url(../assets/img/bg-intro-desktop.png);
        background-repeat: repeat;
        background-position: left top;
        padding: 0px 10%;
    }
}

@media screen and (min-width: 768px) {
    body {
        flex-direction: row;
        align-items: center;
        padding: 0px 5%;
        height: 100vh;
    }

    header {
        width: 45%;
        margin: 0px 5% 0px 0px;

        h1 {
            font-size: 48px;
            line-height: 48*1.2px;
            text-align: left;
            margin-bottom: 32px;
        }

        p {
            text-align: left;
        }
    }

    section {
        width: 50%;

        .section__try {
            padding: 16px;

            span {
                padding: 0px 5%;
            }
        }

        .section__form {
            margin-bottom: 0px;
        }
    }
}

@media screen and (min-width: 1280px) {
    body {
        padding: 0px 10%;
    }
}

@media screen and (min-width: 1440px) {
    body {
        padding: 0px 15%;
    }
}