//colors
$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);
$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: #ffffff;
    background-color: $light-gray;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.125rem;
}

h1, h2 {
    line-height: 1.2;
    font-weight: 700;
}

.button {
    width: 100%;
    background-color: $bright-yellow;
    text-transform: capitalize;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 32px rgba($color: hsl(0, 0, 10%), $alpha: .12);
    padding: 16px 24px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "join-us join-us"
        "subscription subscription"
        "why-us why-us";
    margin: 0 32px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 24px 40px rgba($color: hsl(0, 0, 10%), $alpha: .12);

    &__box {
        padding: 24px;
    }
}

.join-us {
    grid-area: join-us;
    background-color: #ffffff;

    &__title {
        color: $cyan;
    }

    &__header {
        color: $bright-yellow;
        margin: 32px 0 24px;
    }

    &__paragraph {
        color: $grayish-blue;
        line-height: 1.7;
    }
}

.subscription {
    grid-area: subscription;
    background-color: $cyan;

    &__header {
        text-transform: capitalize;
        margin-bottom: 24px;
    }

    &__fee {
        color: rgba($color: #ffffff, $alpha: .5);
    }

    &__price {
        font-size: 2rem;
        right: 700px;
        color: #ffffff;
        line-height: 0;
    }
}

.why-us {
    grid-area: why-us;
    background-color: rgba($color: $cyan, $alpha: .8);

    &__header {
        color: #ffffff;
        text-transform: capitalize;
    }
}