// Colors
    $strong-cyan: hsl(171, 66%, 44%);
    $light-blue: hsl(233, 100%, 69%);
    $dark-grayish-blue: hsl(210, 10%, 33%);
    $grayish-blue: hsl(201, 11%, 66%);
    $white: hsl(0, 100%, 100%);

// Fast normalize
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 16px;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: $white;
    color: $grayish-blue;
}

h1, h2, h3 {
    font-weight: 600;
    line-height: 1.2;
    color: $dark-grayish-blue;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.25rem; }

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 8% 160px;
    background: url('../assets/bg/bg-header-mobile.png') no-repeat center top/100% auto;
    text-align: center;

    &__heading {
        margin-bottom: 24px;
    }

    &__paragraph {
        margin-bottom: 56px;
    }
}

.logo {
    display: block;
    width: 120px;
    margin-bottom: 64px;

    &--footer {
        width: 56px;
        margin-bottom: 48px;
    }

    &__image {
        display: block;
        width: 100%;
    }
}

.button {
    width: 100%;
    max-width: 300px;
    padding: 16px 0;
    color: $white;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    border: 0;
    border-radius: 100px;
    align-self: start;
    cursor: pointer;
    will-change: opacity;
    transition: opacity 0.3s ease-in;

    &:hover {
        opacity: 0.7
    }

    &--blue {
        background-color: $light-blue;
        border: 1px solid hsl(233, 44%, 55%);
        border-bottom: 3px solid hsl(233, 44%, 55%);
        box-shadow: 0 8px 16px rgba($dark-grayish-blue, 0.32);
    }

    &--green {
        background-color: $strong-cyan;
        border: 1px solid hsl(171, 52%, 39%);
        border-bottom: 3px solid hsl(171, 52%, 39%);
        box-shadow: 0 8px 16px rgba($strong-cyan, 0.32);
    }
}

.choose-apps {
    display: grid;
    justify-items: center;
    grid-gap: 24px;
    width: 100%;
    padding: 0 8%;
}

.track-snippets,
.access-anywhere,
.workflow,
.mobile-apps {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 8% 160px;

    &__heading {
        margin-bottom: 24px;
    }

    &__paragraph {
        margin-bottom: 56px;
    }
}

.image {
    display: block;
    width: 100%;

    &--track-snippets {
        margin-bottom: 64px;
    }
}


.features {
    text-align: center;
    display: grid;
    grid-gap: 56px;
    justify-items: center;

    &__icon {
        max-width: 40px;
        max-height: 40px;
        margin-bottom: 32px;
    }

    &__item {
        width: 90%;
    }

    &__heading {
        margin-bottom: 16px;
        text-transform: capitalize;
    }
}

.workflow {
    &__paragraph {
        margin-bottom: 80px;
    }
}

.clients {
    display: grid;
    padding-bottom: 160px;
    grid-gap: 64px;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__logo {
        display: block;
        max-width: 40%;
        max-height: 40px;
    }
}

.mobile-apps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($grayish-blue, 0.16);
    padding-top: 48px;

    &__inner {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

.menu {
    display: grid;
    grid-gap: 24px;
    justify-items: center;
    list-style: none;

    &__link {
        text-decoration: none;
        color: $dark-grayish-blue;

        &:hover {
            color: $strong-cyan;
        }
    }
}

.socials {
    display: flex;
    align-items: center;
    margin: 56px 0;

    &__item {
        display: flex;
        justify-content: center;

        &:not(:last-child) {
            margin-right: 32px;
        }
    }

    &__icon {
        display: block;
        max-width: 24px;
        max-width: 24px;

        path {
            will-change: fill;
            transition: fill 0.2s ease-in;
        }

        &:hover {
            & path {
                fill: $strong-cyan;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    h1 { font-size: 2.5rem; }
    h2 { font-size: 2rem; }
    h3 { font-size: 1.5rem; }

    .header {
        padding-top: 136px;
        padding-left: 15%;
        padding-right: 15%;
        background: url('../assets/bg/bg-header-desktop.png') no-repeat center top/100% auto;

        &__heading {
            margin-bottom: 24px;
        }

        &__paragraph {
            margin-bottom: 56px;
        }
    }

    .logo {
        &--footer {
            width: 56px;
            margin-bottom: 0;
            margin-right: 80px;
        }
    }

    .choose-apps {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
        width: 80%;
        padding: 0;
    }

    .track-snippets,
    .access-anywhere,
    .workflow,
    .mobile-apps {
        padding-left: 15%;
        padding-right: 15%;

        &__paragraph {
            margin-bottom: 80px;
        }
    }

    .image{
        width: 70%;

        &--track-snippets {
            width: 60%;
            margin: 0 5% 0 -5%;
        }
    }

    .track-snippets {
        padding-left: 0%;

        &__heading, &__paragraph {
            padding-left: 15%;
        }

        &__description {
            display: flex;
            align-items: center;
        }
    }

    .features {
        &__item {
            width: 100%;
        }

        &--track-snippets {
            width: 50%;
            text-align: left;
            grid-gap: 40px;
        }
    }

    .clients {
        padding-left: 15%;
        padding-right: 15%;
        grid-template-columns: repeat(auto-fit, minmax(150px ,1fr));

        &__logo {
            max-width: 70%;
            max-height: 56px;
        }
    }

    .footer {
        padding-left: 15%;
        padding-right: 15%;

        &__inner {
            flex-direction: row;
        }
    }

    .menu {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 32px;
        justify-items: start;
        width: calc(100% - 136px);
    }
}

@media screen and (min-width: 1024px) {
    .features {
        &--track-snippets {
            grid-gap: 72px;
        }

        &--workflow {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 48px;
        }
    }

    .clients {
        grid-gap: 48px;
    }

    .footer {
        justify-content: space-between;
        flex-direction: row;
        padding-bottom: 48px;

        &__inner {
            width: auto;
        }
    }

    .menu {
        grid-template-columns: repeat(3, 1fr);
        width: auto;
    }

    .socials {
        margin: 0;
    }
}

@media screen and (min-width: 1280px) {
    .track-snippets,
    .access-anywhere,
    .workflow,
    .mobile-apps {
        &__heading, &__paragraph {
            max-width: 60%;
        }
    }
    .image--track-snippets {
        width: 80%;
        margin: 0 5% 0 -5%;
    }

    .footer {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}